.form-area {
  display: flex;
  width: 90%;
  height: 60vh;
  margin-top: 1rem;
  margin-left: 5rem;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  width: 20rem;
  background: #ffffff;
}

.css-1cko8mj {
  width: 0;
}

.css-1wc848c-MuiFormHelperText-root,
.css-1wc848c-MuiFormHelperText-root.Mui-error {
  font-size: 1rem;
  width: 20rem;
}
