* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #e5e5e5;
  --light-grey: #f2f2f2;
  --dark-green: #285035;
  --medium-green: #187330;
  --light-green: #d4ddce;
  --grey: #404040;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-green);
}

.page-container {
  display: flex;
  width: 100vw;
}

aside {
  width: 25vw;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.details {
  cursor: pointer;
}
